*{
    margin: 0px;
    padding:0px;
}

body{
    
    font-family:Ubuntu Static;
    background-color:white;
    font-family: 'Inter', sans-serif;

}

nav{
    display:flex;
    align-items: center;
    justify-content:space-around;
    background-color:blueviolet;
    height: 80px;
   
   
}

nav ul{
    display: flex;
    justify-content: center;

    
}
nav ul li{
    list-style: none;
    margin: 50px;
    
    
}
nav ul li a {
    text-decoration: none;
    color: white;
        
}
nav ul li a:hover{
    color: silver ;    
}
nav ul li a:active{
    color:white;
}

.left{
    font-size: 50px;
    color: white;
   
}

.right{
    font-size: 20px;
}

.main{
    background-color: whitesmoke;
    height: 50px;
    width: 50%;
}


/*------------------- first  section-------------*/
.firstsection{
    display: flex;
    justify-content:space-around;
    margin:25px;
    height: 600px;
}

.Left{
    height: 600px;
    width: 50%;
    font-size: 3rem;
    margin: 80px ;
    padding: 20px 20px;
    
}


.text1{
    color: blueviolet;
}

#element{
  color: blueviolet;
}

.Left .buttons{
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.Left .btn{
    height: 50px;
    width: 100px;
    border-color: 5px solid white;
    border-radius: 15px;
    background-color: rgb(106, 24, 182);
    color: azure;
    
}

.btn:hover{
     cursor: pointer;
}

.Right{
    height: 600px;
    width: 50%;
    margin: 70px ;
    
}

.Right img{
    width: 80%;
    height:80%;
}

/*------------------- about section-------------*/
.secondsection{
    display: flex;
    margin:25px;
    height: 300px;
    width: 90vw;
    justify-content: space-between;
   padding: 20px;
   
    
}

.first{
    
    width: 40vw;
    color: white;
    justify-content: center;
    padding: 20px;
    size:40px;
    background-color:blueviolet;
    font-size: 20px;
    border-radius: 20px;
}

.second{
    
    width: 40vw;
    padding: 20px;
    border-radius: 20px;
    background-color: blueviolet;
    
}

.upper{
    
    color: white;
}

.lower{
    
    color: white;
}



/*------------------- foooter section-------------*/

footer{
    background-color: blueviolet;
    color: white;
}
.footer{
   
     display: flex;
     padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

.footer > div{
    width: 223px;
}

footer .footer-rights  {
    text-align: center;
    color: white;
    padding: 12px 0px;
}